h1 {
    color: rgb(78, 15, 44);
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

ul{
    color: rgb(155, 47, 47);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

body{
    font-family: serif;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}

body{
    background-color: rgba(52, 194, 194, 0.473);
}

a{
    text-decoration: underline;
    color: inherit;
}