h1 {
    color: rgb(78, 15, 44);
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

ul{
    color: rgb(155, 47, 47);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block;
    width:750px;
    margin: -40px auto;
    border:solid 5px   rgb(155, 47, 47);
}

body{
    font-family: serif;
    background-color: rgba(52, 194, 194, 0.473);
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    width: 600px;
    height: auto;
}

a{
    text-decoration: underline;
    color: inherit;
}